<div>
  <div class="p-grid">
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col"></div>
        <div class="p-col">
          <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
              <button pButton type="button" (click)="searchMovies()" label="Search"></button>
              <input type="text" pInputText placeholder="Movie" [(ngModel)]="searchMovie">
            </div>
          </div>
        </div>
        <div class="p-col"></div>
      </div>
      <div class="p-grid" *ngFor="let search of search.Search">
        <div class="p-col"><img src="{{search.Poster}}" /></div>
        <div class="p-col">{{search.Title}}</div>
        <div class="p-col"><button pButton type="button" (click)="searchMovieInfo(search.Title)" label="Zoek deze film op"></button></div>
      </div>
    </div>
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col" ngif="">{{movie.Title}}</div>
        <div class="p-col"></div>
        <div class="p-col">Acteurs</div>
      </div>
      <div class="p-grid">
        <div class="p-col" ngif=""><img src="{{movie.Poster}}" /></div>
        <div class="p-col">{{movie.Plot}}</div>
        <div class="p-col"></div>
      </div>
    </div>
  </div>
</div>
