<div>
  <div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col">
      <div class="ui-inputgroup">
        <button pButton type="button" (click)="searchMovies()" label="Search"></button>
        <input type="text" pInputText placeholder="Movie" [(ngModel)]="searchMovie">
      </div>
    </div>
    <div class="p-col"></div>
  </div>

  <br />
  <br />

  <p-carousel headerText="Zoekresultaten" [value]="search.Search">
    <ng-template let-search pTemplate="item">
      <div class="ui-grid ui-grid-responsive">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6"></div>
          <div class="ui-grid-col-6"><img src="{{search.Poster}}" width="60"></div>
          <div class="ui-grid-col-6"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">Title</div>
          <div class="ui-grid-col-6">{{search.Title}}</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4"></div>
          <div class="ui-grid-col-4">
            <button type="button" pButton icon="pi pi-search" (click)="searchMovieInfo(search.Title)"></button>
          </div>
          <div class="ui-grid-col-4"></div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

  <br />
  <br />

  <div class="p-grid">
    <div class="p-col"></div>
    <div class="p-col"><h3>{{movie.Title}}</h3></div>
    <div class="p-col"></div>
  </div>
  <div class="p-grid">
    <div class="p-col">Runtime: {{movie.Runtime}}</div>
    <div class="p-col"><img src="{{movie.Poster}}" /></div>
    <div class="p-col">{{movie.Plot}}</div>
  </div>
  <br />
  <div class="p-grid">
    <div class="p-col">Actors: {{movie.Actors}}</div>
    <div class="p-col">BoxOffice: {{movie.BoxOffice}}</div>
    <div class="p-col">Website: {{movie.Website}}</div>
  </div>
</div>
