<h1>Homepage</h1>
<p>Welkom bij mijn eerste ECHTE API-project. Je kan deze toepassing gebruiken om informatie over allerlei films en series op te zoeken, zelfs je favorieten op te slaan en
   eventuele ratings toe te wijzen.</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
