<div>
  <div class="p-grid">
    <div class="p-col">
      <p>Voer hier je serie in</p>
      <input type="text" [(ngModel)]="SearchText" />
      <button pButton type="button" label="Search" (click)="searchSerieInfo()"></button>

      <br />
      <br />

      <p-card header="Serie" subheader="Number of seasons: {{numberOfSeasons}}" [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="{{serieImage}}">
        </p-header>
        <div>
          {{seriePlot}}
        </div>
        <p-footer>
          <button pButton type="button" (click)="postFavourite()" label="Save as favourite" icon="pi pi-check" style="margin-right: .25em"></button>

          <br />
          <br />

          <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Favourite-ID" [(ngModel)]="deleteId">
            <button pButton type="button" (click)="deleteFavourite()" label="Delete this favourite"></button>
          </div>

          <br />

          <p-rating [(ngModel)]="value" (click)="postRating()" disabled="{{disabled}}"></p-rating>
        </p-footer>
      </p-card>
    </div>

    <div *ngIf="numberOfSeasons" class="p-col" ngif="">
      <p>Voer hier je gewenste season in</p>
      <p-dropdown [autoDisplayFirst]="true" [options]="allSeasons" [(ngModel)]="searchSeason" (onClick)="searchEpisodes()"></p-dropdown>

      <br />
      <br />

      <table class='table table-striped' *ngIf="season">
        <thead>
          <tr>
            <th>Title</th>
            <th>Episode #</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let episode of season.Episodes">
            <td>{{ episode.Title }}</td>
            <td>{{ episode.Episode }}</td>
            <td>{{ episode.imdbRating }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
